@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

ul.expandable > li {
	list-style-image: url("OaDhnoQl6Wn.png");
}


ul.expandable li > a {
	text-decoration: none;
	font-family: Lato;
	font-weight: bold;
	color: #458e7b;
}
ul.expandable li > a:hover,
ul.expandable li > a:focus {
	transform: 0.3s;
	color: #2d564b;
}

li ul.expandable {
	display: none;  
}
